*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   font-size: 62.5%;
}
body{
   height: 100vh;
   background-color: #726baf;
   color: #111;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.d1{
   background-color: #3929cc;
   width: 90%;
   padding: 15px;
   border-radius: 10px;
   font-size: 2rem;
   color: #111;
   /* display: flex;
   align-items: center;
   justify-content: center; */
}
/* input:focus{
   outline-color: red;
} */

/* p:first-child{
   color:red;
}
p:last-child{
   color:blue;
} */

p:nth-child(2n){
   color: red;
}