*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   height: 100vh;
   background-color: #fff;
   color: #111;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

/* [title ^= "tex"]{
   color: red;
} */
/* [title $= "xt"]{
   color: red;
} */

/* p{
   width: 550px;
   border: 1px solid #fff;
   text-align-last: right;
} */

.d1{
   width: 200px;
   height: 200px;
   border-radius: 10px;
   -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
   -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
