:root{
   --color-body: #e35d5c;
   --color-white: #fff;
   --color-black: #000;
   --color-purple: #726baf;
   --radius-10: 1rem;
   --fz40px: 4rem;
   --yellow: #e9e25b;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   min-height: 100vh;
   color: var(--color-white);
   font-size: 1.8rem;
   margin: 5rem;
   background: linear-gradient(
      41deg,
      rgba(227,93,92,1) 23%,
      rgba(176,26,150,1) 49%,
      rgba(114,107,175,1) 71%
   );
}

.grid{
   border-radius: var(--radius-10);
   padding: 2rem;
   min-height: 40rem;
   background: #000;
   background: linear-gradient(
      41deg,
      rgb(0, 0, 0,1) 23%,
      rgba(94,74,91,1) 49%,
      rgba(40,49,43,1) 71%
   );
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 15rem);
   /* justify-items: end;
   justify-items: start;
   justify-items: center;
   align-items: start;
   align-items: center;
   align-items: end; */
   
}
.box {
   border: .2rem solid var(--color-white);
   font-size: var(--fz40px);
   display: flex;
   align-items: center;
   justify-content: center;
  
}
.box1 {
   justify-self: start;
   justify-self: center;
   justify-self: end;
   align-self: start;
   align-self: center;
   align-self: end;
}
.box2 {

}
.box3 {
   
}
.box4 {

}
.box5 {
   
}
.box6 {
   
}
.box7 {
  
}