*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-family: "DM Sans", sans-serif;
}

.award{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    background-color: #f5f5f5;
}

.award__p{
    font-size: 15px;
    color: #4B5563;
}

.award__images{
    position: absolute;
    right: 200px;
    top: 10px;
    cursor: pointer;
}

.wrapper{
    max-width: 1280x;
    margin: 0 auto;
}
/* start header */
.header{
    background-color: #00353B;
    height: 72px;
}
/* finish header */